.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  width: 360px;
  margin-bottom: 20px;
}

.catalog-button {
  background: #272a33;
  border-radius: 8px;
  color: #ffffff;
  border: none;
}

.catalog-button:hover {
  background: #ee753e;
}

.catalog-button:disabled {
  background: #272a33;
  opacity: 0.2;
  cursor: not-allowed;
}

.catalog-more {
  width: 223px;
}

.header {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: left;
  color: #272a33;
  width: inherit;
}

.good {
  display: flex;
  flex-direction: column;
  width: 170px;
  border-radius: 8px;
  position: relative;
  align-items: stretch;
  min-height: 100%;
}

.good::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #dedede;
  border-radius: 8px;
  pointer-events: none;
  z-index: 1;
}

.photo {
  width: 170px;
  height: 170px;
  background: #eef3f8;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  padding: 10px;
  color: #272a33;
}

.present {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
}

.present img {
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
.present span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #272a33;
}

.good-more {
  margin: 0 10px 10px;
  position: relative;
  outline: none;
}

.good-more:focus{
  outline: none;
}

.only-PC {
  display: none;
}

.only-mobile {
  display: flex;
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 30px;
  }

  .catalog {
    flex-direction: column;
    width: fit-content;
    gap: 30px;
    margin-bottom: 30px;
  }

  .photo {
    width: 220px;
    height: 220px;
  }

  .good {
    flex-direction: row;
    width: 576px;
  }

  .info {
    height: 158px;
    display: flex;
    flex-direction: column;
    margin: 31px 0 31px 30px;
  }

  .description {
    font-family: "Roboto";
    font-size: 18px;
    line-height: 120%;
  }

  .good-more {
    width: 159px;
    margin-bottom: 0;
  }

  .only-PC {
    display: flex;
  }

  .only-mobile {
    display: none;
  }
}

@media (min-width: 1160px) {
  .good {
    width: 768px;
  }
}

@media (min-width: 1440px) {
  .catalog {
    flex-direction: row;
    width: 1160px;
  }
  .header {
    width: 1160px;
  }
  .good {
    width: 565px;
  }
}

@media (min-width: 1920px) {
  .good {
    width: 705px;
  }

  .catalog, .header {
    width: 1440px;
  }
}
